.root {
    background: inherit;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;

    svg {
        fill: #E62557;
        transition: fill 0.3s ease;
    }

    &:focus-visible,
    &:hover {
        svg {
            fill: #AD0934;
        }
    }
}