.wrapper {
    background: #FFFCFA;
    flex: 1;
    height: 640px;
    max-width: 240px;
    padding: 24px 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.list {
    margin: 33px -8px 0;
    max-height: 518px;
    overflow-y: auto;
}

.listItem {
    color: #92082C;
    display: block;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    max-width: 100%;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: background 0.3s ease;
    padding: 0 24px;
    white-space: nowrap;

    &:hover,
    &:focus-visible {
        background: #fde5e960;
        outline: none;
    }
}

.activeListItem {
    background: #fde5e9;

    &:hover,
    &:focus-visible {
        background: #FDE5E9;
    }
}

.buttonAdd {
    outline: none;
}