.wrapper {
    border-color: #CCCAC8;
    color: #131415;
    font-weight: 600;
    margin-top: 4px;
    width: 100%;

    input {
        background: #FFFFFF;
        caret-color: #0085FF;
        height: 32px;

        font-size: 16px;
        line-height: 24px;
        padding: 0 16px;
    }
}